Кортежи (tuple)/Множества (set)
1. Есть кортеж a = (1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89)

Выведите в отдельный кортеж числа, которые меньше или равны 5 и числа, которые больше 5.

Кортеж чисел меньше или равных 5 (1, 1, 2, 3, 5)
Кортеж чисел больше 5 (8, 13, 21, 34, 55, 89)

In [5]:
a = (1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89)
h_5=[i for i in a if i>5]
l_5=[i for i in a if i<=5]
x_5 = tuple(h_5)
y_5 = tuple(l_5)
print(f'Кортеж чисел меньше или равных 5 {x_5}\nКортеж чисел больше 5 {y_5}')

Кортеж чисел меньше или равных 5 (8, 13, 21, 34, 55, 89)
Кортеж чисел больше 5 (1, 1, 2, 3, 5)

2. Вы принимаете от пользователя его имя, фамилию, возраст. Сохраните их в соответствующие переменные. Сохраните полученные значения в список.
Введите ваше имя: Хасан
Введите вашу фамилию: Карабаев
Введите ваш возраст: 18
Кортеж данных пользователя: ('Хасан', 'Карабаев', '18')

In [6]:
name = input('Введите ваше имя: ')
second_name = input('Введите вашу фамилию: ')
age = input('Введите ваш возраст: ')
truple1 = (name,second_name,age)
print(f'Кортеж данных пользователя: {truple1}')

Кортеж данных пользователя: ('Oybek', 'Ismatov', '28')

3. Напишите программу, которая принимает от пользователя секвенцию чисел, разделенных запятой и пробелом. После чего запишите каждое число в кортеж.
Введите секвенцию чисел разделенных запятой и пробелом: 12, 34, 23, 67, 78, 22
Кортеж чисел: ('12', '34', '23', '67', '78', '22')

In [8]:
truple2 = input('Введите секвенцию чисел разделенных запятой и пробелом: ')
truple3 = tuple(truple2.split(', '))
print(truple3)

('12', '34', '23', '67', '78', '22')

4.  Напишите программу, которая будет принимать три имени в качестве входных данных от пользователя в одном input() и превращать данные в кортеж, ну а затем доставать их:
Введите три любых имени разделенные между собой пробелом: Лола Тимур Хадия
Кортеж имен: ('Лола', 'Тимур', 'Хадия')
Первое имя: Лола
Второе имя: Тимур
Третье имя: Хадия

In [10]:
input_1 = input('Введите три любых имени разделенные между собой пробелом: ')
truple_4 = tuple(input_1.split(' '))
print(f'Кортеж имен: {truple_4}\nПервое имя: {truple_4[0]}\nВторое имя: {truple_4[1]}\nТретье имя: {truple_4[2]}')

Кортеж имен: ('Лола', 'Тимур', 'Хадия')
Первое имя: Лола
Второе имя: Тимур
Третье имя: Хадия

5. Дан кортеж чисел numbers = (1, 2, 3, 4, 5, 6, 7). напишите программу, которая превращает каждый элемент кортежа в его квадрат и образует второй кортеж.
Кортеж чисел: (1, 2, 3, 4, 5, 6, 7)
Кортеж квадратов: (1, 4, 9, 16, 25, 36, 49)

In [11]:
numbers = (1, 2, 3, 4, 5, 6, 7)
num_kv=tuple([i**2 for i in numbers])
print(f'Кортеж чисел: {numbers}\nКортеж квадратов: {num_kv}')

Кортеж чисел: (1, 2, 3, 4, 5, 6, 7)
Кортеж квадратов: (1, 4, 9, 16, 25, 36, 49)

6. Напишите программу, которая выводит все четные числа из кортежа в исходном порядке, и останавливается когда число равно 815.
numbers = (386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527)

In [12]:
numbers = (386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527)
for i in numbers:
    if i==815:
        break
    if i%2 == 0:
        print(i)

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950
626

7. Есть кортеж с данными numbers = (12, 33, 44, 33, 12, 45, 11, 55, ’44’, 30, 10), создайте список и кортеж данных без дубликатов
[33, 10, 11, 12, 45, 44, '44', 55, 301]
(33, 10, 11, 12, 45, 44, '44', 55, 301)

In [14]:
numbers = (12, 33, 44, 33, 12, 45, 11, 55, 44, 30, 10)
set1 = set(numbers)
print(f'{list(set1)}\n{tuple(set1)}')

[33, 10, 11, 12, 45, 44, 55, 30]
(33, 10, 11, 12, 45, 44, 55, 30)

8. Получите кортеж VLANов со строки:

config_sw1 = 'switchport trunk allowed vlan 10,20,30,40,50,70'
config_sw2 = 'switchport trunk allowed vlan 80,90,10,45,50,100'
общих vlan
vlan которые есть в config_sw1 но нет в config_sw2
уникальные vlan c двух сторон
все vlan без дубликатов
('50', "10")
('40','70''30','20')
('100','30', "40", "70',"20', '45', '80', "90')
('100',' 30','40', '50', '10', "70', "20', '45','80', "90')

In [33]:
config_sw1 = 'switchport trunk allowed vlan 10,20,30,40,50,70'
config_sw2 = 'switchport trunk allowed vlan 80,90,10,45,50,100'
vlan_1 = set(config_sw1.split(' ')[4].split(','))
vlan_2 = set(config_sw2.split(' ')[4].split(','))
intersection = vlan_1.intersection(vlan_2)
difference_1 = vlan_1.difference(vlan_2)
sym_dif = vlan_1.symmetric_difference(vlan_2)
union_1 = vlan_1.union(vlan_2)

print(intersection,difference_1,sym_dif,union_1,sep='\n')

{'10', '50'}
{'40', '20', '30', '70'}
{'45', '20', '30', '70', '40', '90', '80', '100'}
{'80', '50', '45', '20', '30', '100', '70', '40', '10', '90'}